#caixaLogin {
    background-color: #fff; /* Cor de fundo da caixa */
    padding: 20px; /* Espaçamento interno da caixa */
    border-radius: 10px; /* Raio dos cantos arredondados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra da caixa */
    max-width: 20%; /* Largura máxima da caixa */
    width: 100%; /* Torna a caixa responsiva */
    margin: auto; /* Centraliza a caixa na página */
    display: flex; /* Habilita o modelo de layout flexível */
    flex-direction: column; /* Alinha os itens verticalmente em coluna */
    align-items: center; /* Centraliza os itens verticalmente */
    justify-content: center; /* Centraliza os itens horizontalmente */
}

body{
    margin: 0;
     padding: 0;
     display: flex;
     align-items: center;
     justify-content: center;
     height: 100vh;
}
